:root {
  --main-color: #d1422a;
  --second-color: #1c1c1e;
  --third-color: #333436;
  --fourth-color: #edd998;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* MARGIN AND PADDING */
.mt-big {
  margin-top: 5rem;
}
.mt-huge {
  margin-top: 7rem;
}

.mb-big {
  margin-bottom: 5rem;
}
.mb-huge {
  margin-bottom: 7rem;
}
.pb-big {
  padding-bottom: 15rem;
}





.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content-wrap {
	flex: 1;
}

.homeImg {
  height: 300px;
  -webkit-filter: brightness(100%);
}

.blog {
  position: relative;
  right: 37rem;
  color: var(--main-color);
  text-decoration: none;
}
.img {
  width: 300px;
  height: 300px;
}

.blogImg {
  height: 250px;
}

.leftBorder {
  border-left: 4px solid var(--main-color);
}
.itemBack {
  background-color: var(--fourth-color);
}
.toRight {
  position: relative;
  right:85px;
}
.toCenter {
  text-decoration: none;
  font-size: 2rem;
  color: var(--main-color);
  position: relative;
  bottom:180px;
  left:100px;
}

.homeImg:hover {
  -webkit-filter: brightness(40%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

:root {
  --main-color: #d1422a;
  --second-color: #1c1c1e;
  --third-color: #333436;
  --fourth-color: #edd998;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content-wrap {
	flex: 1;
}

.homeImage {
  width: 250px;
}


.img {
  width: 300px;
  height: 300px;
}

.blogImg {
  height: 250px;
}
.mb-big {
  margin-bottom: 5rem;
}
.mb-huge {
  margin-bottom: 7rem;
}
.pb-big {
  padding-bottom: 15rem;
}
.leftBorder {
  border-left: 4px solid var(--main-color);
}
.itemBack {
  background-color: var(--fourth-color);
}
.toRight {
  position: relative;
  right:85px;
}



